# This workflow runs on any release
name: release
on:
  release:
    types: [published]
  workflow_dispatch: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Release script
        run: REF="${{ github.ref }}" ./ci/release.sh
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
